<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hromanov.elbill" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Electricity Bill</name>
    <description>
        Electricity bill calculator.
    </description>
    <author email="rgewebppc@gmail.com" href="https://github.com/Glebka/electricity-bill-calc">
        Hlieb Romanov
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
	<plugin name="cordova-plugin-whitelist" spec="1" source="npm"/>
	<plugin name="cordova-plugin-nativestorage" source="npm" />
    <icon src="icon.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
