<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hromanov.elbill" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Electricity Bill</name>
    <description>
        Electricity bill calculator.
    </description>
    <author email="rgewebppc@gmail.com" href="https://github.com/Glebka/electricity-bill-calc">
        Hlieb Romanov
    </author>
    <content src="index.html" />
	<icon src="icon.png" />
	<preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
	<plugin name="cordova-plugin-nativestorage" source="npm" />
    <access origin="*" />
</widget>
